/* Styles for the header component */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header h1 {
    margin: 0;
    color:mediumslateblue;
}
header .heading1{ text-align: 'center'; padding :'20px' }
header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f0a500;
}

header .menu{
    
    padding: 10px;
    height: 200px;
}

header .menu-icon {
    display: none;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }

    header .menu-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
}